.countries_box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.flag_container{
    width: 150px;

}
.flag_container img{
    width: 100%;
    
}
.visited{
    background-color:rgb(162, 162, 221) ;
}